<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ("./header.ejs") %>
</head>
<body>
    <div class="container">
        <h1>Join</h1>
        <form action="">

            <div class="form-group">
                <label for="nickname">참여 닉네임</label>
                <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
            </div>
            
            <button type="submit" class="btn btn-default">제출</button>
        </form>
    
    </div>
    

    <%- include ("./footer.ejs") -%>
</body>
</html>

<!-- https://velopert.com/332 -->
<!-- https://jhdream.tistory.com/18 -->
<!-- https://junspapa-itdev.tistory.com/9 -->