<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
    .navigation {
        background-color: blueviolet;
        list-style-type: none;
        list-style: none;
        color: white;
    }    
    </style>
</head>
<body style="background-color: azure;">
    <nav class="navigation">
        <ul>
            <li>Home</li>
        </ul>
    </nav>
    <div class="container" style="background-color: red;">
        <div class="row">
            
        </div>
    </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>